name: Deploy SPA Spotify

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create env.js from secret
        run: |
          echo "window.SPOTIFY_CLIENT_ID='${{ secrets.SPOTIFY_CLIENT_ID }}'" > env.js

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
